/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 6, ../../sass/partials/_layout.scss */
body, html {
  background: #DEDFE5;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #212850;
}

/* line 15, ../../sass/partials/_layout.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 19, ../../sass/partials/_layout.scss */
a {
  color: #212850;
  text-decoration: none;
  border-bottom: 1px solid #212850;
  padding-bottom: 5px;
}

/* line 26, ../../sass/partials/_layout.scss */
::selection {
  background-color: #29ADE4;
  color: #ffffff;
}

/* line 31, ../../sass/partials/_layout.scss */
a {
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

/* line 36, ../../sass/partials/_layout.scss */
img {
  max-width: 100%;
}

/* line 40, ../../sass/partials/_layout.scss */
h1 {
  font-size: 42px;
  color: #212850;
  letter-spacing: 0;
  line-height: 49px;
  font-weight: 800;
}

/* line 47, ../../sass/partials/_layout.scss */
h2 {
  font-size: 22px;
  color: #212850;
}

/* line 52, ../../sass/partials/_layout.scss */
input {
  font-family: 'Montserrat', sans-serif;
}

/* line 56, ../../sass/partials/_layout.scss */
input[type="text"] {
  background: #FFFFFF;
  border: 1px solid #DEDFE5;
  -moz-box-shadow: 0 2px 6px 0 rgba(33, 40, 80, 0.1);
  -webkit-box-shadow: 0 2px 6px 0 rgba(33, 40, 80, 0.1);
  box-shadow: 0 2px 6px 0 rgba(33, 40, 80, 0.1);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 15px;
  font-size: 14px;
}
/* line 64, ../../sass/partials/_layout.scss */
input[type="text"]:focus {
  border-color: #29ADE4;
  outline: none;
}

/* line 70, ../../sass/partials/_layout.scss */
.wrapper {
  max-width: 1500px;
  padding: 30px;
  margin: 0 auto;
  background: #ffffff;
  background-size: 661px;
  background-position: top right;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}
/* line 81, ../../sass/partials/_layout.scss */
.wrapper .container {
  max-width: 1200px;
  min-width: 960px;
  margin: 0 auto;
}
/* line 87, ../../sass/partials/_layout.scss */
.wrapper .spaced_wrapper {
  margin: 0 auto;
  max-width: 85%;
}
/* line 92, ../../sass/partials/_layout.scss */
.wrapper .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  position: relative;
}
/* line 100, ../../sass/partials/_layout.scss */
.wrapper .header .menu li {
  float: left;
}
/* line 103, ../../sass/partials/_layout.scss */
.wrapper .header .menu li a {
  color: #ffffff;
  text-decoration: none;
  padding: 10px 15px;
  display: inline-block;
  font-weight: 100;
  border: 1px solid transparent;
}
/* line 111, ../../sass/partials/_layout.scss */
.wrapper .header .menu li a.btn-default {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #ffffff;
}
/* line 120, ../../sass/partials/_layout.scss */
.wrapper .hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px auto;
  position: relative;
}
/* line 127, ../../sass/partials/_layout.scss */
.wrapper .hero-section:before {
  content: "";
  position: absolute;
  width: 395px;
  height: 329px;
  background: url("../images/dotted_line@2x.png") no-repeat;
  background-size: 100%;
  left: -270px;
  top: 15px;
}
/* line 138, ../../sass/partials/_layout.scss */
.wrapper .hero-section:after {
  content: "";
  position: absolute;
  width: 190px;
  height: 190px;
  background: url("../images/dots@2x.png") no-repeat;
  background-size: 100%;
  right: -9%;
  z-index: 3;
}
/* line 150, ../../sass/partials/_layout.scss */
.wrapper .hero-section .hero-image img {
  position: relative;
  z-index: 2;
}
/* line 154, ../../sass/partials/_layout.scss */
.wrapper .hero-section .hero-image:after {
  content: "";
  position: absolute;
  width: 661px;
  height: 599px;
  background: url("../images/blue_box@2x.png") no-repeat;
  background-size: 100%;
  top: -130px;
  right: -240px;
  z-index: 0;
}
/* line 167, ../../sass/partials/_layout.scss */
.wrapper .hero-section > div:first-child {
  width: 470px;
  z-index: 2;
}
/* line 172, ../../sass/partials/_layout.scss */
.wrapper .hero-section h1 {
  margin: 0 0 45px;
}
/* line 176, ../../sass/partials/_layout.scss */
.wrapper .hero-section .search-input {
  position: relative;
}
/* line 179, ../../sass/partials/_layout.scss */
.wrapper .hero-section .search-input input {
  font-size: 16px;
  width: 100%;
  padding: 20px;
  padding-right: 65px;
}
/* line 186, ../../sass/partials/_layout.scss */
.wrapper .hero-section .search-input > img {
  position: absolute;
  top: -4px;
  right: 20px;
}
/* line 194, ../../sass/partials/_layout.scss */
.wrapper .section {
  margin-bottom: 30px;
  z-index: 3;
  position: relative;
}
/* line 199, ../../sass/partials/_layout.scss */
.wrapper .section .section-header {
  display: flex;
  justify-content: space-between;
}
/* line 204, ../../sass/partials/_layout.scss */
.wrapper .section .service-pills {
  margin: 0 -15px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
/* line 210, ../../sass/partials/_layout.scss */
.wrapper .section .service-pills:before {
  content: "";
  width: 301px;
  height: 368px;
  position: absolute;
  background: url("../images/triangle@2x.png") no-repeat;
  background-size: 100%;
  top: 40px;
  left: -8%;
}
/* line 221, ../../sass/partials/_layout.scss */
.wrapper .section .service-pills > a {
  display: flex;
  background: #ffffff;
  border: 1px solid #DEDFE5;
  -moz-box-shadow: 0 2px 6px 0 rgba(33, 40, 80, 0.1);
  -webkit-box-shadow: 0 2px 6px 0 rgba(33, 40, 80, 0.1);
  box-shadow: 0 2px 6px 0 rgba(33, 40, 80, 0.1);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 178px;
  height: 208px;
  margin: 15px;
  padding: 30px;
  text-decoration: none;
  color: #212850;
  align-items: center;
  text-align: center;
  justify-content: center;
  line-height: 22px;
  position: relative;
}
/* line 239, ../../sass/partials/_layout.scss */
.wrapper .section .service-pills > a:hover {
  -moz-box-shadow: 0 8px 16px 0 rgba(33, 40, 80, 0.1);
  -webkit-box-shadow: 0 8px 16px 0 rgba(33, 40, 80, 0.1);
  box-shadow: 0 8px 16px 0 rgba(33, 40, 80, 0.1);
}
/* line 248, ../../sass/partials/_layout.scss */
.wrapper .contact > div {
  display: flex;
  margin: 30px 0 15px;
}
/* line 252, ../../sass/partials/_layout.scss */
.wrapper .contact > div address {
  flex: .4;
  margin-right: 30px;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 15px;
}
/* line 260, ../../sass/partials/_layout.scss */
.wrapper .contact > div iframe {
  flex: .8;
  margin-bottom: 15px;
}
/* line 267, ../../sass/partials/_layout.scss */
.wrapper .social-links {
  background: rgba(33, 40, 80, 0.07);
  margin: 0 -30px 45px;
}
/* line 271, ../../sass/partials/_layout.scss */
.wrapper .social-links .container {
  display: flex;
}
/* line 274, ../../sass/partials/_layout.scss */
.wrapper .social-links .container a {
  font-size: 25px;
  color: rgba(33, 40, 80, 0.35);
  text-align: center;
  text-decoration: none;
  padding: 60px;
  flex: 1;
  border: none;
}
/* line 283, ../../sass/partials/_layout.scss */
.wrapper .social-links .container a:hover {
  background: rgba(33, 40, 80, 0.07);
}
/* line 290, ../../sass/partials/_layout.scss */
.wrapper .copyright {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

@media screen and (max-width: 1200px) {
  /* line 2, ../../sass/partials/_responsive.scss */
  .wrapper .hero-section > div:first-child {
    width: auto;
    max-width: 470px;
    margin-right: 30px;
  }
  /* line 8, ../../sass/partials/_responsive.scss */
  .wrapper .hero-section > div:first-child > h1 br {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  /* line 16, ../../sass/partials/_responsive.scss */
  .wrapper .container {
    min-width: inherit;
  }

  /* line 20, ../../sass/partials/_responsive.scss */
  .wrapper .hero-section h1 {
    margin-bottom: 15px;
  }

  /* line 24, ../../sass/partials/_responsive.scss */
  h1 {
    font-size: 30px;
    line-height: 36px;
  }
}
